.heroCon{
    border: red 2px solid;
    background-color: rgba(0, 0, 0, 0.049);
}

.hero{
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;

}

.heroDarkOverlay{
    background-color: rgba(0, 0, 0, 0.13);    
    padding: 2rem;
} 

.heroDarkOverlay h1{
    font-size: 2rem;
}