.authCon{
    height: 90vh;
    background-color: #F7EFE8;
    display: flex;
    justify-content: center;
    align-content: center;

}

.formCon{
    height: fit-content;
    width: 80%;
    background-color: white;
    padding: 1rem;
    border: 1px solid #A01114;
    margin-top: 5%;
    border-radius: 5px;
}

.formCon h2{
    color: #A01114;
    text-align: center;
}

.formCon input{
    box-sizing: border-box;
    display: block;
    padding: .5rem;
    width: 100%;
    margin-top: 1rem;
    font-size: .7rem;
}
.formCon p{
    margin-top: 1rem;
    font-size: .6rem;
    text-align: center;
}
.formCon button{
    margin-top: 2em;
    padding: .5rem 1rem;
    color: white;
    background-color: #A01114;
    border: none;
}