.desktopMenuCon{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.desktopMenuCon a{
    text-decoration: none;
    font-weight: 700;
    color: #A01114;
}

.profileCon{
    display: flex;
    flex-direction: column;
}

.profileCon div{
    display: flex;
    justify-content: space-evenly;
}

.authNav{
    display: flex;
    gap: 2rem;
}

.profileCon p{
    font-size: .5rem;
}

@media (min-width: 767px) {
    .profileCon p{
        font-size: 1rem;
    }
}

.cartCount{
    background-color: black;
    color: white;
    border-radius: 10000px;
    padding: .3rem .8rem;
    font-weight: 700;
}