.headerCon{
    background-color: #F7EFE8;
    padding: 1rem 0;
}

.innerHeaderCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    gap: 2rem;
}

.imgHead{
}

.deskMenu{
}